<template>
    <section id="category">
        <h1>New catogory</h1>
    </section>
</template>

<script>
    export default {
        name: "Category",
        data: () => ({

        }),
    }
</script>

<style lang="scss" scoped>

</style>
